:root {
  --linear-br: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: white;
  --gray: #757575;
  --orange: #ff9536;
  --text-gray: #808080;
  --font: "Inter", sans-serif;
}
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.header {
  background: var(--linear-br);
}
.marca {
  display: flex;
  /*border: 1px solid red;*/
  justify-content: center;
  padding-block-start: 39px;
}
.marca p {
  color: var(--bitcoin-orange);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.04em;
}
.header__titulo {
  /*border: 1px solid red;*/
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 26px;
  color: var(--just-white);
  text-align: center;
  margin-block-start: 26px;
  margin-block-end: 24px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}
.header__descripcion {
  color: var(--soft-orange);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  /*border: 1px solid green;*/
  margin-block-start: 24px;
  margin-block-end: 37px;
}
.header__btn {
  background: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  padding: 12px 16px;
  border: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  top: 24px;
  position: relative;
}
.arrow-icon {
  width: 24px;
  height: 24px;
  background-image: url(./img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}
.tasa-cambio__bitcoin-img {
  width: 195px;
  height: 195px;
  display: block;
  margin: 0 auto;
  padding-top: 59px;
  margin-block-end: 40px;
}
.tasa-cambio__titulo {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--warm-black);
  margin: 0;
  margin-block-end: 24px;
}
.tasa-cambio__descripcion {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--gray);
  margin: 0;
  margin-block-end: 48px;
}
.tasa-cambio h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--orange);
  margin: 0;
  text-align: center;
  position: relative;
  left: -50px;
  margin-block-end: 12px;
  /* right: 50px; */
}

section.tasa-cambio {
  background: var(--off-white);
}

.tasa-cambio__monedas {
  list-style: none;
  padding: 0;
  /* border-radius: 8px; */
  /* overflow: hidden; */
  width: 200px;
  margin: 0 auto;
  position: relative;
  padding-block-end: 64px;
}
.tasa-cambio__monedas::before,
.tasa-cambio__monedas::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  /* background: aqua; */
  background-image: url(./img/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  top: calc(50% - 12px);
}
.tasa-cambio__monedas::before {
  transform: rotate(180deg);
  left: -38px;
}
.tasa-cambio__monedas::after {
  right: -38px;
}
.tasa-cambio__monedas li {
  display: flex;
}
.tasa-cambio__monedas li span {
  font-family: var(--font);
  color: #b5b0ac;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  display: block;
  width: 40%;
  background: var(--just-white);
  border: 1px solid var(--off-white);
  padding: 10px 12px;
}
.tasa-cambio__monedas li:first-child {
  /* border: 1px solid red; */
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.tasa-cambio__monedas li:last-child {
  /* border: 1px solid green; */
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

/* ============================================ */
.services {
  background-color: var(--warm-black);
  padding-block-start: 4rem;
  padding-block-end: 30px;
}
.services-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 26px;
  text-align: center;
  color: var(--just-white);
  margin: 0;
}
.services-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-gray);
  margin-block: 24px;
  text-align: center;
}
.card {
  background: #282623;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 1rem 20px 22px 1rem;
  margin-block: 8px 16px;
}
.card h3 {
  margin-block: 11px 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--just-white);
}
.card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-gray);
}
.container-img {
  margin: 0;
  height: 387px;
}
.bitcoinbaby-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}
/* =============Planes======================= */
.plan {
  background-color: var(--off-white);
  padding: 64px 0;
  margin: 0;
}
.plan-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: var(--warm-black);
}
.plan-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--gray);
  margin-top: 24px;
}
.container-plan {
  overflow-x: auto;
  height: 347px;
  display: grid;
  padding: 0 10px;
  grid-template-columns: repeat(3, 1fr) 10px;
  align-items: center;
}
.container-plan::-webkit-scrollbar {
  height: 8px;
}
.container-plan::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container-plan::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.container-plan::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container-plan::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.container-plan::-webkit-scrollbar-track:hover,
.container-plan::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
.plan-card {
  padding: 24px 16px;
  min-width: 190px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  background-color: var(--just-white);
  margin-inline-end: 8px;
  position: relative;
}
.plan-card:last-child {
  margin-inline-end: 0;
}
.plan-alert {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--just-white);
  padding: 8px;
  position: absolute;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  top: 0;
  transform: translate(-50%, -50%);
}
.plan-card__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.plan-price {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  letter-spacing: -0.08em;
  position: relative;
}
.plan-price::before {
  content: "$";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  left: -8px;
  top: 10px;
}
.plan-offert {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray);
}
.btn-plan {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--warm-black);
  border: 2px solid #f7931a;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  padding: 5px 16px;
  margin: 0 auto;
}
.btn-plan i {
  display: inherit;
  margin-left: 5px;
}
.footer {
  background-color: var(--bitcoin-orange);
  padding: 40px 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.links {
  padding: 0;
}
.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--just-white);
  list-style: none;
  margin-block-end: 8px;
}
.link-item:last-child {
  margin-block-end: 0;
}
.container-logo {
  justify-self: end;
  text-align: right;
}
.right {
  margin: 0;
  font-weight: 500;
  font-size: 8px;
  /* line-height: 18px; */
  font-family: var(--font);
  color: var(--soft-orange);
}
.seccion-preguntas {
  background-color: var(--off-white);
  padding-bottom: 64px;
}
.seccion-preguntas__titulo {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: var(--warm-black);
  text-align: center;
  margin-bottom: 32px;
}
.acordion {
  display: grid;
  grid-template-columns: auto 50px;
  column-gap: 21px;
}
.acordion i {
  
  background-image: url(./img/Vector.svg); 
  background-repeat: no-repeat;
  background-position: center;


}
.acordion p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--warm-black);
  padding: 12px 0;
}
.acordion .answer-question {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--gray);
  padding: 15px 0;
}
.seccion-preguntas p {
  margin: 0;
}
